<div class="wrapper">
  <div class="row">
    <div class="col-2 left">
      <h1>
        <a href="#"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
      </h1>
    </div>
    <div class="col-6 center">
      <div class="list row">
        <ul>
          <li>
            <a href="#">
              <div class="list-item col">
                <i class="fa fa-2x fa-home" aria-hidden="true"></i>Home
              </div>
            </a>
          </li>
          <li>
            <a href="#Registered-Products">
              <div class="list-item col">
                <i class="fa fa-2x fa-registered" aria-hidden="true"></i>
                Registered Products
              </div></a
            >
          </li>
          <li>
            <a href="#Product-Recalls&Alerts">
              <div class="list-item col">
                <i class="fa fa-2x fa-refresh" aria-hidden="true"></i> Product
                Recalls and Alerts
              </div></a
            >
          </li>
          <li>
            <a href="#Registered-Premises">
              <div class="list-item col">
                <i class="fa fa-2x fa-universal-access" aria-hidden="true"></i>
                Registered Premises
              </div></a
            >
          </li>
          <li>
            <a href="#GMP-Compliant-Facilities">
              <div class="list-item col">
                <i class="fa fa-2x fa-check-square-o" aria-hidden="true"></i>
                GMP Compliant Facilities
              </div></a
            >
          </li>
          <li>
            <a href="#Clinical-Trials">
              <div class="list-item col">
                <i class="fa fa-2x fa-wrench" aria-hidden="true"></i> Clinical
                Trials
              </div></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-3 buttons">
      <button class="log-in">Log In</button>
      <button class="create-account">Create Account</button>
    </div>
    <div class="col-2 right">
      <a href="#System-User-Manual"
        ><i class="fa fa-file-text fa-2x" aria-hidden="true"></i> System User
        Manual</a
      >
    </div>
  </div>
</div>

<!-- <nav>
  <div class="left">
    <h1>
      <a href="#"><i class="fa fa-home fa-3x" aria-hidden="true"></i></a>
    </h1>
  </div>
  <div class="right">
    <div class="list">
      <ul>
        <li>
          <a href="#">
            <div class="list-item">
              <i class="fa fa-2x fa-home" aria-hidden="true"></i>Home
            </div>
          </a>
        </li>
        <li>
          <a href="#Registered-Products">
            <div class="list-item">
              <i class="fa fa-2x fa-registered" aria-hidden="true"></i>
              Registered Products
            </div></a
          >
        </li>
        <li>
          <a href="#Product-Recalls&Alerts">
            <div class="list-item">
              <i class="fa fa-2x fa-refresh" aria-hidden="true"></i> Product
              Recalls and Alerts
            </div></a
          >
        </li>
        <li>
          <a href="#Registered-Premises">
            <div class="list-item">
              <i class="fa fa-2x fa-universal-access" aria-hidden="true"></i>
              Registered Premises
            </div></a
          >
        </li>
        <li>
          <a href="#GMP-Compliant-Facilities">
            <div class="list-item">
              <i class="fa fa-2x fa-check-square-o" aria-hidden="true"></i> GMP
              Compliant Facilities
            </div></a
          >
        </li>
        <li>
          <a href="#Clinical-Trials">
            <div class="list-item">
              <i class="fa fa-2x fa-wrench" aria-hidden="true"></i> Clinical
              Trials
            </div></a
          >
        </li>
      </ul>
    </div>
    <div class="buttons">
      <button class="log-in">Log In</button>
      <button class="create-account">Create Account</button>
    </div>
    <div class="manual">
      <a href="#System-User-Manual"
        ><i class="fa fa-file-text" aria-hidden="true"></i> System User
        Manual</a
      >
    </div>
  </div>
</nav> -->
