<nav>
  <div class="left">
    <h1><a href="#">Title/Logo</a></h1>
  </div>
  <div class="right">
    <div class="list">
      <ul>
        <li>
          <a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
        </li>
        <li>
          <a href="#Registered-Products"
            ><i class="fa fa-registered" aria-hidden="true"></i> Registered
            Products</a
          >
        </li>
        <li>
          <a href="#Product-Recalls&Alerts"
            ><i class="fa fa-refresh" aria-hidden="true"></i> Product Recalls
            and Alerts</a
          >
        </li>
        <li>
          <a href="#Registered-Premises"
            ><i class="fa fa-universal-access" aria-hidden="true"></i>
            Registered Premises</a
          >
        </li>
        <li>
          <a href="#GMP-Compliant-Facilities"
            ><i class="fa fa-check-square-o" aria-hidden="true"></i> GMP
            Compliant Facilities</a
          >
        </li>
        <li>
          <a href="#Clinical-Trials"
            ><i class="fa fa-wrench" aria-hidden="true"></i> Clinical Trials</a
          >
        </li>
      </ul>
    </div>
    <div class="buttons">
      <button class="log-in">Log In</button>
      <button class="create-account">Create Account</button>
    </div>
    <div class="manual">
      <a href="#System-User-Manual"
        ><i class="fa fa-file-text" aria-hidden="true"></i> System User
        Manual</a
      >
    </div>
  </div>
</nav>
