<div class="wrapper">
  <div class="row">
    <div class="col-2 left">
      <h1>
        <a routerLink="/"
          ><i
            class="fa fa-home fa-2x"
            style="color: #000000"
            aria-hidden="true"
          ></i
        ></a>
      </h1>
    </div>
    <div class="col-6 center">
      <div class="list row">
        <ul>
          <li>
            <a routerLink="/">
              <div class="list-item col">
                <i class="fa fa-2x fa-home" aria-hidden="true"></i>Home
              </div>
            </a>
          </li>
          <li>
            <a routerLink="/registered-products" routerLinkActive="active">
              <div class="list-item col">
                <i class="fa fa-2x fa-registered" aria-hidden="true"></i>
                Registered Products
                <hr /></div
            ></a>
          </li>
          <li>
            <a routerLink="/product-recalls-and-alerts">
              <div class="list-item col">
                <i class="fa fa-2x fa-refresh" aria-hidden="true"></i> Product
                Recalls and Alerts
              </div></a
            >
          </li>
          <li>
            <a routerLink="/registered-premises">
              <div class="list-item col">
                <i class="fa fa-2x fa-universal-access" aria-hidden="true"></i>
                Registered Premises
              </div></a
            >
          </li>
          <li>
            <a routerLink="/gmp-compliant-facilities">
              <div class="list-item col">
                <i class="fa fa-2x fa-check-square-o" aria-hidden="true"></i>
                GMP Compliant Facilities
              </div></a
            >
          </li>
          <li>
            <a routerLink="/clinical-trials">
              <div class="list-item col">
                <i class="fa fa-2x fa-wrench" aria-hidden="true"></i> Clinical
                Trials
              </div></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="col-2 buttons">
      <button class="log-in">Log In</button>
      <button class="create-account">Create Account</button>
    </div>
    <div class="col-2 right">
      <a routerLink="/" href="#System-User-Manual"
        ><i class="fa fa-file-text fa-2x" aria-hidden="true"></i> System User
        Manual</a
      >
    </div>
  </div>
</div>

<!-- Smaller devices navbar -->
<div class="hidden">
  <nav class="navbar navbar-dark">
    <div class="home">
      <h1>
        <a routerLink="/"
          ><i
            class="fa fa-home fa-2x"
            style="color: #000000"
            aria-hidden="true"
          ></i
        ></a>
      </h1>
    </div>
    <div class="hamburger">
      <button class="navbar-toggler" (click)="toggleShow()" type="checkbox">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</div>

<!-- (click)="onClick()" -->
<div *ngIf="isShown" class="row vertical-menu" id="divshow">
  <div class="list">
    <ul>
      <li>
        <a routerLink="/">
          <div class="list-item">
            <i class="fa fa-2x fa-home" aria-hidden="true"></i>
            Home
          </div></a
        >
      </li>
      <li>
        <a routerLink="/registered-products">
          <div class="list-item">
            <i class="fa fa-2x fa-registered" aria-hidden="true"></i>
            Registered Products
          </div></a
        >
      </li>
      <li>
        <a routerLink="/product-recalls-and-alerts">
          <div class="list-item">
            <i class="fa fa-2x fa-refresh" aria-hidden="true"></i> Product
            Recalls and Alerts
          </div></a
        >
      </li>
      <li>
        <a routerLink="/registered-premises">
          <div class="list-item">
            <i class="fa fa-2x fa-universal-access" aria-hidden="true"></i>
            Registered Premises
          </div></a
        >
      </li>
      <li>
        <a routerLink="/gmp-compliant-facilities">
          <div class="list-item">
            <i class="fa fa-2x fa-check-square-o" aria-hidden="true"></i>
            GMP Compliant Facilities
          </div></a
        >
      </li>
      <li>
        <a routerLink="/clinical-trials">
          <div class="list-item">
            <i class="fa fa-2x fa-wrench" aria-hidden="true"></i> Clinical
            Trials
          </div></a
        >
      </li>
    </ul>
  </div>
</div>
