.wrapper {
  background-color: #2049dfd5;
  width: 100%;
  .row {
    .left {
      display: flex;
      align-items: center;
    }
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
      .list {
        ul {
          display: flex;
          li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              text-decoration: none;
              .list-item {
                display: flex;
                height: 64px;
                align-items: center;
                color: white;
                // border: 2px solid yellow;
                margin: 2px;
                i {
                  color: brown;
                  // padding: 3px;
                }
                &:hover {
                  color: brown;
                  i {
                    color: wheat;
                  }
                }
              }
            }
          }
        }
      }
    }
    .buttons {
      // flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      .log-in {
        font-size: 17px;
        width: 80px;
        height: 39px;
        border-radius: 9px;
        border: 3px solid #000000;
        margin: 27px;
      }
      .create-account {
        font-size: 13px;
        width: 137px;
        height: 39px;
        border-radius: 11px;
        border: 3px solid #000000;
      }
    }
    .right {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        right: 0;
        border: 3px solid #000000;
        border-radius: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: white;
        i {
          margin: 6px;
        }
      }
    }
    .menu {
      width: 50px;
      height: max-content;
    }
  }
}
.hidden {
  background-color: #2049dfd5;
  .hamburger {
    margin: 5px;
  }
}
.vertical-menu {
  // position: absolute;
  right: 0;
  width: max-content;

  margin: 5px;
  .list {
    height: fit-content;
    // background-color: chartreuse;
    ul {
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2px;
        color: wheat;
        a {
          text-decoration: none;
          .list-item {
            color: #000000;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }
}
@media screen and(min-width: 1225px) {
  .hidden {
    display: none;
  }
}
@media screen and (max-width: 1224px) {
  .wrapper {
    height: max-content;
    .row {
      .left {
        min-width: 60px;
        .fa-2x {
          color: aliceblue !important;
          font-size: 50px;
        }
      }
      .center {
        .list {
          ul {
            li {
              a {
                .list-item {
                  color: #000000;
                  font-size: 12px;
                  display: flex;
                  flex-direction: column;
                  width: fit-content;
                  text-align: center;
                  .fa-2x {
                    font-size: 24px;
                  }
                }
              }
            }
          }
        }
      }
      .buttons {
        .log-in {
          font-weight: bolder;
          font-size: 10px;
          width: fit-content;
          width: 60px !important;
          margin: 3px;
        }
        .create-account {
          font-weight: bolder;
          font-size: 8px;
        }
      }
      .right {
        font-size: 10px;
        a {
          margin: 2px;
        }
      }
    }
  }
  .hidden {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    background-color: #df7c20d5;
    display: none;
  }
  .hidden {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    background-color: #df2080d5;
  }
}
