<div class="home-body">
  <div class="container-sm">
    <div class="row">
      <div class="col">
        <h1>
          ZAMRA Regulatory<br />
          Information Management<br />
          System
        </h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod
          <br />tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <div class="buttons-home">
          <button class="log-in">Log In</button>
          <button class="create-account">Create Account</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="online-services">
  <h1>ONLINE SERVICES</h1>
  <app-card></app-card>
</div>
