.card {
  // border: 3px solid yellow;
  border-radius: 47px;
  background-color: #d9d9d9;
  overflow: hidden;
  .quarter {
    width: 155px;
    height: 155px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-right-radius: 80%;
    background: #5959b3;
  }
  .icon {
    margin-top: 20%;
    margin-left: 20%;
    color: blue;
  }
}
