@import "~bootstrap/dist/css/bootstrap.css";

footer {
  margin-top: 9px;
  font-family: "RobotoBold";
  font-size: 10px;
  .text-center {
    background-color: #204adf;
    padding: 5px;
    color: #ffff;
  }
}
