@import "~bootstrap/dist/css/bootstrap.css";

footer {
  margin-top: 9px;
  font-family: "RobotoBold";
  font-size: 15px;
  bottom: 0;
  .text-center {
    background-color: #2049dfd5;
    padding: 5px;
    color: #ffff;
  }
}
