@import "~bootstrap/dist/css/bootstrap.css";

footer {
  margin-top: 9px;
  bottom: 0;
  .text-center {
    background-color: #2049dfd5;
    padding: 5px;
    color: #ffff;
  }
}

@media screen and (max-width: 1224px) {
  footer {
    .text-center {
      font-size: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  footer {
    .text-center {
      font-size: 8px;
    }
  }
}
@media screen and (max-width: 480px) {
  footer {
    .text-center {
      font-size: 6px;
    }
  }
}
